/* [button]{

} */

.button {
    display: inline-block;
    padding: 0.4rem 1.75rem;
    color: #555;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none !important;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
.button:focus,
.button:active {
    outline: 0 !important;
    text-decoration: none !important;
}

.button.disabled,
.button:disabled {
    opacity: 0.65;
}

.button.small {
    font-size: 0.75rem !important;
}

.button.large {
    font-size: 1.5rem !important;
}

.button.block {
    display: block;
    width: 100% !important;
}

.ripple {
    position: absolute;
    background: #000000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    pointer-events: none;
    -webkit-animation: ripples 0.75s linear;
    animation: ripples 0.75s linear;
}

@-webkit-keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


/* Primary */

.button.primary {
    color: #ffffff !important;
    background-color: var(--blue-07) !important;
    border-color: var(--blue-07) !important;
}

.button.primary:hover {
    color: #ffffff !important;
    background-color: var(--blue-08) !important;
    border-color: var(--blue-08) !important;
}



/* Secondary */

.button.secondary {
    color: #212121 !important;
    background: var(--grey-01) !important;
    border-color: var(--grey-01) !important;
}

.button.secondary:hover {
    color: #212121 !important;
    background: var(--grey-02) !important;
    border-color: var(--grey-02) !important;
}


/* Info */

.button.info {
    color: #ffffff;
    background: #2ec8f7 !important;
    border-color: #2ec8f7 !important;
}

.button.info:hover {
    color: #ffffff !important;
    background: #29b4de !important;
    border-color: #29b4de !important;
}


/* Success */

.button.success {
    color: #ffffff !important;
    background: #1fc750 !important;
    border-color: #1fc750 !important;
}

.button.success:hover {
    color: #ffffff !important;
    background: #1cb348 !important;
    border-color: #1cb348 !important;
}


/* Warning */

.button.warning {
    color: #00000099 !important;
    background: var(--yellow-05) !important;
    border-color: var(--yellow-05) !important;
}

.button.warning:hover {
    color: #00000099 !important;
    background: var(--yellow-06) !important;
    border-color: var(--yellow-06) !important;
}


/* Danger */

.button.danger {
    color: #ffffff !important;
    background-color: var(--red-05) !important;
    border-color: var(--red-05) !important;
}

.button.danger:hover {
    color: #ffffff !important;
    background-color: var(--red-06) !important;
    border-color: var(--red-06) !important;
}


/* Dark */

.button.dark {
    color: #ffffff !important;
    background: #273444 !important;
    border-color: #273444 !important;
}

.button.dark:hover {
    color: #ffffff !important;
    background: #232f3d !important;
    border-color: #232f3d !important;
}


/* Card */

.card {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0;
    display: block;
    border-radius: 0.25rem;
    border: 1px solid #00000025;
    transition: all 0.3s ease;
}

.card:first-child {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}


.card:last-child {
    border-radius: 0.5rem;
}

.card.outlined {
    border: 1px solid #1a73e875 !important;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.25rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-title {
    font-size: 2rem;
    letter-spacing: normal;
}

.card-subtitle {
    color: #424242aa;
}


.card-img {
    width: 100%;
    border-radius: 0.5rem;
}


.bg-image-cover {
    background-image: url("./image.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}