@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);

*,
*::before,
*::after {
    box-sizing: border-box;
    /* -webkit-user-drag: none !important; */
    /* user-select: none; */
}

:root {
    --blue-01: #add4fc;
    --blue-02: #8bc3fb;
    --blue-03: #6bb2fa;
    --blue-04: #49a0f9;
    --blue-05: #288ff8;
    --blue-06: #087ef7;
    --blue-07: #076dd6;
    --blue-08: #065cb5;
    --blue-09: #054c94;
    --blue-10: #043b73;
    /* Red */
    --red-01: #f59297;
    --red-02: #f27379;
    --red-03: #ef545c;
    --red-04: #ec353e;
    --red-05: #e91620;
    --red-06: #ca131c;
    --red-07: #ab1018;
    --red-08: #ab1018;
    --red-09: #8c0d13;
    --red-10: #bb121a;
    /* Green */
    --green-01: #b5f4e1;
    --green-02: #97f0d5;
    --green-03: #79ecca;
    --green-04: #5be8be;
    --green-05: #3de4b2;
    --green-06: #20dfa6;
    --green-07: #1bc290;
    --green-08: #17a47a;
    --green-09: #138664;
    --green-10: #0f684d;
    /* Yellow */
    --yellow-01: #fff1aa;
    --yellow-02: #ffeb88;
    --yellow-03: #ffe666;
    --yellow-04: #ffe044;
    --yellow-05: #ffdb22;
    --yellow-06: #ffd500;
    --yellow-07: #ddb900;
    --yellow-08: #bb9c00;
    --yellow-09: #998000;
    --yellow-10: #776300;
}

html {
    font-family: "Roboto", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(31, 45, 61, 0);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    background-color: #ffffff;
    letter-spacing: normal;
    font-size: 1rem;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid #eff2f7;
}


ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #1266f1;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #105cd9;
    text-decoration: none !important;
}

code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

caption {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #8492a6;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
}

button {
    text-decoration: none;
}

button:focus {
    outline: none;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

[hidden] {
    display: none !important;
}